@model IEnumerable<Capa_Entidaddes.Empleado>

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/Table.css" rel="stylesheet" />
</head>
<body>
    <h2>Listado De Empleados</h2>
    <p>
        @Html.ActionLink("Nuevo Empleado", "Crear","Empleado", new {@class="btn btn-success" })
    </p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                Nombre del Empleado
            </th>
            <th>
                Departamento
            </th>
            <th>
                Puesto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Igreso)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Depart6amento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Puesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Igreso)
                </td>
                <td>

                    @Html.ActionLink("Editar", "Editar", new { id = item.ID_Empleado }, new {@class="btn btn-primary" }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ID_Empleado }, new {@class="btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</body>
</html>


