@model IEnumerable<Capa_Entidaddes.Nomina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_nomina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_nomina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.ID_nomina }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Eliminar", new {  id=item.ID_nomina  })
        </td>
    </tr>
}

</table>
