@model IEnumerable<Capa_Entidaddes.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Departamentos</h2>
<link href="~/Content/Table.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Nuevo Departamento", "Crear","Departamennto", new {@class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Departamento)
        </th>
        <th>
            Nombre del Departamento
        </th>
        <th>
            Ubicacion Fisica 
        </th>
        <th>
            Responsable de Area
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion_fisica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resposable_Area)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ID_Departamento  }, new {@class="btn btn-primary" }) |
            @Html.ActionLink("Eliminar", "Eliminar", new {  id=item.ID_Departamento  }, new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
