@model IEnumerable<Capa_Entidaddes.Puesto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Puesto</h2>
<link href="~/Content/Table.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Nuevo Puesto", "Crear", "Puesto", new {@class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Puesto)
        </th>
        <th>
            Nombre
        </th>
        <th>
            Rango
        </th>
        <th>
            Saldo Minimo
        </th>
        <th>
            Saldo Maximo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rango)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo_Minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo_Maximo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ID_Puesto  }, new {@class="btn btn-primary" }) |
            @Html.ActionLink("Delete", "Eliminar", new {  id=item.ID_Puesto  }, new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
