@model IEnumerable<Capa_Entidaddes.Empleado>

@{
    ViewBag.Title = "Leer";
}

<h2>Leer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Depart6amento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Igreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Depart6amento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Igreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
